alembic==1.0.10
aniso8601==3.0.2
appdirs==1.4.3
blinker==1.4
click==6.7
Flask
Flask-Cors
Flask-RESTful
gevent==1.3.5
greenlet==0.4.13
itsdangerous==0.24
Jinja2
lifter==0.4.1
MarkupSafe==1.0
packaging==17.1
pep8==1.7.1
persisting-theory==0.2.1
psycopg2
pyparsing
python-dateutil
pytz
PyYAML
six==1.11.0
SQLAlchemy
thespian==3.9.2
Werkzeug
git+https://github.com/HTTP-APIs/hydra-python-core@v0.1#egg=hydra_python_core
git+https://github.com/HTTP-APIs/hydra-openapi-parser@0.1.1#egg=hydra_openapi_parser
